<header class="header">
    <a href="/" class="header__logo">VocApp</a>

    <nav class="header__nav">
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/about" class="">About</a></li>
            <li><a href="/learn" class="">Learn</a></li>
            <li><a href="/learned" class="">Learned</a></li>
            <li><a href="/quiz" class="">Quiz</a></li>
            <li><a href="/addword" class="">Add Word</a></li>
            <li><a href="/search" class="">Search</a></li>
        </ul>
    </nav>

</header>