<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this <%=appName%> </title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container"> 
        <%- include('./partials/header.ejs') %>
        <div class="main">
            <h1 class="page__description">This is the about page for the <%=appName%> </h1>
            <p class="page__body">My plan for this app is to create a space where users are able to enter the words that they've learned into a database and then be able to review them through a quiz. In this app users will also be able to see a full list of the words that they've entered into the database if they wish. </p>
        </div>
    </div>
</body>
</html>