<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About this <%=appName%> </title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container"> 
        <%- include('./partials/header.ejs') %>
        <div class="main">
            <h1 class="page__description">This is the about page for the <%=appName%> </h1>
            <p class="page__body">My plan for this app is to create a space where users are able to enter the words that they've learned into a database and then be able to review them through a quiz. In this app users will also be able to see a full list of the words that they've entered into the database. </p>
            <h1 class="page__description">How to USE the APP?</h1>
            <p class="page__body">For starters you can go to the learned page for an example of what added words would look like. Further more if you head to the add word page, the layout for the structure in which the data should be entered is listed. Next enter the word you would like to add to your list and fill in the form with the suggestions then click the add word button and your words should be added to the database and be visable on the learned page.</p>

        </div>
    </div>
</body>
</html>