<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a <%=appName%> </title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

    <div class="container"> 
        <%- include('./partials/header.ejs') %>
    </div>
    <div class="container">
        <div class="main">
            <h1 class="page__heading">This is an <%=appName%> </h1>
            <p class="page__body">This eductaion app uses node, express, ejs and mysql. This app is a prototype project for vocabulary learning. To learn more about this project please head to the about page! </p>
        </div>
        <img src="/img/blueyLearning.png" alt="cartoon characters from 'bluey' with the letters abc above him">
    </div>
</body>
</html>