<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search the <%=appName%> </title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container"> 
        <%- include('./partials/header.ejs') %>
        <div class="main">
            <h1 class="page__description">This is the search page</h1>
            <p class="page__body">Search the <%=appName%> for words</p>
            <form action="/search_result" method="GET">
                Word: <input id="search_box" type="text" name="search_text">
                <input type="submit" value="OK" >
            </form>
        </div>
    </div>
</body>
</html>